
<% @listings.each_slice(3) do |listings| %>
  <div class="row">
    <% listings.each do |listing| %>

      <div class="col-md-4">
        <div class="listing">
          <div class="image_wrapper">
            <%= link_to listing do %>

              <%= image_tag(listing.listingphotos.sample.image.url(:indexdisplay)) %>
            <% end %>
          </div>
          <h2><%= link_to listing.title, listing %></h2>

          
          <input type="button" class='btn btn-primary bookbtn checkavailabledates' value="Check Availabe Dates" name="<%= listing.id %>">

        </div>
      </div>
    <% end %>
  </div>
<% end %>

