
<% @listings.each_slice(3) do |listings| %>
  <div class="row">
    <% listings.each do |listing| %>
      <div class="col-md-4">
        <div class="listing">
          <div class="image_wrapper">
            <%= link_to listing do %>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/aa/15/15/aa151578bd419d48b7a07c5899212ce9.jpg">
            <% end %>
          </div>
          <h2><%= link_to listing.title, listing %></h2>
          <button class='btn btn-primary bookbtn'>Book Now</button>

        </div>
      </div>
    <% end %>
  </div>
<% end %>



          <div class='bookingcalendar container' id="datepicker">
          </div>