
<div class="container">
  <h1>Edit Post</h1>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    
    <%= form.submit "Change profile details", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Cancel", :back %>
</div>