@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

.shorter {
  width: 30%;
}

.alert {
  background: white;
  padding: 1em;
  border-radius: .5em;
}

.affix {
      top: 0;
      width: 100%;
  }

.navbar {
  .container {
    .navbar-brand {
      a:hover, a:visited, a:link, a:active
        {
            text-decoration: none;
        }
    }
  }
}

.jumbotron {
  width: 670px;
  h1 {
    position: top;
  }
}

#jumbowelcome {
  border-radius: 15px;
  background: rgba(192,192,192,0.4);
  width: 100%;
}

.listing {
  text-align: center;
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    padding: 20px;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }
  h2 {
    font-weight: bolder;
    padding: 15px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: black;
    }
  }
}

.searchbar {
  margin-top: 10px;
}

.form-control .search {
  margin-left: 100px;
  overflow: hidden;
  width: 600px;
  border: none;
}

.search {
  position: relative;
  margin-top: 7px;
  display: inline;
}

#filterlisting {
  margin-top: 7px;
  opacity: 0.7;
}

#petlabel {
  margin-left: 30px;
}

.bookbtn {
  margin-bottom: 8px;
}

#listing_photos_carousel {
  margin: 0 auto;
  height: 350px;
  width: 450px;
}

/*
FOR TYPEAHEAD AUTOCOMPLETE*/
.tt-query, 
/*.tt-hint {
    width: 100px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}
*/
.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 13px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
  width: 100%;
}

.videoWrapper {

    position: relative;

    padding-bottom: 56.25%;

    padding-top: 1px;

    height: 0;

  }  

  .videoWrapper iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

  }