// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-section{
  background:rgba(0,0,0,0.2);
  border-radius: 5px;
  padding-bottom: 9px;
  padding-left: 6px;
}

.all-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 100px;
        color: white;
        .grey {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            -webkit-transition: all 0.5s;
        transition: all 0.5s;
            &:hover {
                background-color: rgba(0,0,0,0.75);
                opacity: 0.5;
                h3 {
                    font-size: 25px;
                }
            }        
          }
        div {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h3 {
            font-weight: 800;
            -webkit-transition: all 0.5s;
        transition: all 0.5s;
            }
        }    .world-image1{
        background-image: url(asset-path("tokyo.jpg"));
        background-size: cover;
        margin-top:60px;
        width:350px;
        height: 200px;
    }    .world-image2{
        background-image: url(asset-path("hongkong.jpg"));
        background-size: cover;
        margin-top:60px;
        width:350px;
        height: 200px
    }    .world-image3{
        background-image: url(asset-path("malaysia.jpg"));
        background-size: cover;
        margin-top:60px;
        width:350px;
        height: 200px
    }    .world-image4{
        background-image: url(asset-path("sydney.jpg"));
        background-size: cover;
        margin-top:60px;
        width:350px;
        height: 200px
    }    .world-image5{
        background-image: url(asset-path("bangkok.jpg"));
        background-size: cover;
        margin-top:60px;
        width:350px;
        height: 200px
    }    .world-image6{
        background-image: url(asset-path("paris.jpg"));
        background-size: cover;
        margin-top:60px;
        width:350px;
        height: 200px
    }
}

.overlay {
  bottom: 0;left: 0; top: 0; right: 0;
  height: 150px;
  width: 150px;
  margin: auto;
  position: absolute;
  background-color:#3f3f3f;
  border-radius: 50%;
  opacity:0;
}
